{% extends 'base.html' %}
{% block content %}
    <h3>Add New Client</h3>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Client Name</label>
            <input class="form-control" name="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Client Type</label>
            <select name="client_type" class="form-select">
                {% for t in types %}
                <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary">Create Client</button>
    </form>
{% endblock %}